:root{
    --main-color:rgb(235, 126, 0);
}
body{
    font-family: 'Open-Sans', sans-serif;
}

/* Start Setting Box */

.settings-box{
    position: fixed;
    left: -200px;
    top: 0;
    background-color: #fffffff2;
    width: 200px;
    z-index: 100;
    min-height: 100vh;
    transition: 0.3s;
}

.settings-box.open{
    left: 0;
}

.settings-box .toggle-settings{
    position: absolute;
    top: 100px;
    background-color: #fff;
    
    text-align: center;
    cursor: pointer;
    right: -30px;
}

.settings-box .toggle-settings .fa-gear{
    width: 30px;
    padding: 8px 0;
}

.settings-box .option-box{
    padding: 20px;
}
.settings-box .option-box h4{
    margin: 0;
    columns: #666;
}
.settings-box .option-box .color-list{
    list-style: none;
    text-align: center;
    padding: 0;
}
.settings-box .option-box .color-list li{
    width: 20px;
    height: 20px;
    background-color: #333;
    border-radius: 50%;
    cursor: pointer;
    opacity: .5;
    display: inline-block;
}

.settings-box .option-box .color-list li.active{
    opacity: 1;
}

.settings-box .option-box .color-list li:first-child{
    background-color: rgba(239, 157, 5, 0.788) ;
}

.settings-box .option-box .color-list li:nth-child(2){
    background-color: #Eb0000c9;
}

.settings-box .option-box .color-list li:nth-child(3){
    background-color: #205b55c9;
}

.settings-box .option-box .color-list li:nth-child(4){
    background-color: #80ffd1c9;
}

.settings-box .option-box .color-list li:nth-child(5){
    background-color: #881380c9;
}


/* End Setting Box */

.landing-page{
    background-image: url(/images/c716b153427a8ac1c9e4dbab1cd41d21.png);
    background-size: cover;
    height: 100vh;
    position: relative;
}

.overlay{
    background-color: #000000c9;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    position: absolute;
}

.header-area{
    position: relative;
    color: #fff;
    z-index: 2;
    display: flex;
    padding: 10px;
}

.header-area .logo{
    width: 300px;
    padding: 15px;
    font-size: larger;
}

.header-area .links{
    list-style: none;
    width: 100%;
    align-items: center;
    padding-left: 0;
    padding-right: 16px ;
    text-align: right;
}

.header-area .links li{
    display: inline-block;
    margin-left: 10px;
}

.header-area .links li a {
    color: #fff;
    text-decoration: none;
}

.header-area .links li a:hover,
.header-area .links li a.active {
    color: var(--main-color);
    transition: 0.3s;
}

.introduction-text{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    z-index: 2;
    text-align: center;
}

.introduction-text h1{
    font-size: 40px;
    margin: 0 0 12px;
}

.introduction-text h1 span{
    color: var(--main-color);
}

.introduction-text p{
    line-height: 1.6;
    font-size: 20px;
    margin: 0;
}  